<!DOCTYPE html>
<html style="height:100%" ng-app="ABN">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/bootstrap-theme.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="css/index.css" />
    <script type="text/javascript" src="cordova.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?"></script>
    <script src="js/gmaps.js"></script>


    <script type="text/javascript" src="js/index.js"></script>
    <script src="js/ABN-Main.js"></script>
    <script src="js/ABN-Maps.js"></script>

    <title>Hello World</title>
</head>
<body style="height:100%;">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#home">Bluetooth Necklace</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a id="nav-0" href="#home">Home</a></li>
                <li><a id="nav-2" href="#map">Map</a></li>
                <li><a id="nav-3" href="#settings">Settings</a></li>
                <li><a id="nav-1" href="#about">About</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
    <div class="tab-content" style="height:100%;">
        <div class="tab-pane active" id="home">

            <div class="container">
                <div class="row text-center">
                    <h2>Necklace Dashboard</h2>
                </div>
                <div class="row">
                    <div class="col-xm-12 col-sm-6" ng-controller="NecklaceStatus">
                        <h4>Necklace Status</h4>
                        <div>
                            <label>Status:</label> <span>{{status}}</span>
                        </div>
                        <div>
                            <a class="btn btn-success" ng-click="connect()">Go Online</a>
                            <a class="btn btn-danger" ng-click="disconnect()">Go Offlien</a>
                        </div>
                    </div>
                    <div class="col-xm-12 col-sm-6" ng-controller="FriendsList">
                        <h4>React to Friends</h4>
                        <a class="btn btn-success" ng-click="save()">Save</a>
                        <br />
                        <br />
                        <p>Selection Max: <b>{{max}}</b></p>
                        <p>Currently Selected: <b>{{current}}</b></p>
                        <table class="table">
                            <thead>
                                <tr>
                                    <td>Show</td>
                                    <td>First Name</td>
                                    <td>Last Name</td>
                                    <td>Distance</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="user in users">
                                    <td><input type="checkbox" ng-model="user.checked" ng-click="checked(user.ID, $index)" /></td>
                                    <td>{{user.firstname}}</td>
                                    <td>{{user.lastname}}</td>
                                    <td>{{user.dis}} m</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
        <div class="tab-pane" id="map" style="height:100%;">
            <div id="testmap" style="width:100%;height:100%;"></div>
        </div>
        <div class="tab-pane" id="settings">
            <div class="container">
                <h3 class="text-center">Settings</h3>
                <div>
                    <h4>App Settings</h4>
                    <div class="checkbox">
                        <label>
                            Auto Sign In
                            <input type="checkbox" id="AutoSignin">
                        </label>
                    </div>
                </div>
                <div>
                    <h4>Necklace Settings</h4>
                    <div class="form-inline">
                        <div class="form-group">
                            <label for="detection" class="">Detection: </label>
                            <input type="number" class="form-control" id="detection" placeholder="In Meters">
                        </div>
                    </div>
                    <br />
                    <a class="btn btn-success" onclick="ABN.saveDetection()">Save</a>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="about">
        </div>
    </div>
    <div class="modal fade" id="LoginModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Sign In</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form" ng-controller="SignInCTRL" ng->
                        <div id="form_group_u" class="form-group">
                            <label for="signin_username" class="col-sm-2 control-label">Username</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="signin_username" placeholder="Username" ng-model="signin_username.value" required autofocus>
                            </div>
                        </div>
                        <div id="form_group_p" class="form-group">
                            <label for="signin_password" class="col-sm-2 control-label">Password</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="signin_password" placeholder="Password" ng-model="signin_password.value" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <label class="checkbox">
                                    <input type="checkbox" id="signin_rememberme" ng-model="signin_rememberme.checked"> Remember Me
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" id="signinbtn" class="btn btn-default" ng-click="SignIn()">Sign in</button>
                            </div>
                        </div>
                    </form>
                    <div id="signinerror" class="alert alert-danger fade">
                        <button type="button" class="close" aria-hidden="true">&times;</button>
                        <h4></h4>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        app.initialize();
    </script>
</body>
</html>
